.home {
    flex-direction: column;
}

.home__header {
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--grayishPurple);
}

.home__header a {
    display: block;
    width: fit-content;
    height: 100%;
    margin-right: 2rem;
    padding-bottom: 1rem;
    color: var(--grayishLight);
    font-weight: 300;
}

.home__header a:hover {
    color: var(--lightGray);
    border-bottom: 3px solid var(--lightBlue);
}

.selected {
    color: var(--lightGray) !important;
    border-bottom: 3px solid var(--lightBlue);
}

/* Force column direction */
.flex-direction-column {
    flex-direction: column;
}

/* Force content to center */
.justify-content-center {
    justify-content: center !important;
}

/* Force to disable flex wrap */
.no-wrap {
    flex-wrap: nowrap !important;
}

/* Main content */
.content {
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Button styles */
.btn-new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4.3rem;
    right: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: var(--green);
    color: var(--lightGray);
}

.btn-new:hover {
    width: 45px;
    height: 45px;
    opacity: 1;
}

.btn-edit,
.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    animation-name: resize;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.btn-edit {
    background-color: var(--lightBlue);
    color: var(--lightGray);
    font-size: 0.9rem;
}

.btn-delete {
    margin-left: 0.5rem;
    background-color: #c70000;
    color: var(--lightGray);
}

/* Cards */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    min-width: 200px;
    width: 20%;
    border-bottom: 1px solid var(--grayishPurple);
    user-select: none;
}

.card:hover .name {
    color: var(--lightGray);
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.card__header__controls {
    display: flex;
    justify-content: flex-end;
}

.card__header .name {
    text-transform: capitalize;
    color: var(--grayishLight);
    margin-bottom: 0.3rem;
}

.card__header .date {
    color: var(--grayishPurple);
    font-size: 0.7rem;
}

.card__image {
    width: 100%;
    height: 200px;
    margin-top: 0.8rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card:hover .card__image {
    box-shadow: 0px 0px 10px 5px #273646;
}

.card:hover .btn-edit {
    display: flex !important;
}

.card:hover .btn-delete {
    display: flex !important;
}

/* Form styles */
.back {
    position: absolute;
    top: 0;
    left: 10%;
    color: var(--lightGray);
    font-size: 2rem;
}

.back:hover {
    opacity: 0.7;
}

h1 {
    color: var(--lightGray);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form__field,
.form__button {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    min-width: 300px;
    max-width: 650px;
}

.form__field label,
.form__button p {
    font-size: 1.2rem;
    color: var(--grayishLight);
}

.form__button p {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.form__field input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--lightGray);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grayishPurple);
    margin-bottom: 1rem;
}

.form__field:hover>label,
.form__button:hover>p {
    color: var(--lightGray);
}

.form__field input:focus {
    border-bottom: 1px solid var(--lightGray);
}

/* Custom upload file button */
.form__button {
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--grayishPurple);
}

.form__button input {
    opacity: 0;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    z-index: -1;
}

.form__button img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form__button label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: var(--lightBlue);
    color: var(--lightGray);
    font-size: 0.8rem;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    cursor: pointer;
}

.form__button label:hover {
    width: 45px;
    height: 45px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal__pane {
    position: absolute;
    padding: 2rem;
    top: 40%;
    left: 40%;
    background-color: #191F28;
    color: var(--lightGray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal__pane p {
    margin-bottom: 1rem;
}

.modal__pane__buttons {
    display: flex;
    justify-content: space-around;
}