.login {
    flex-direction: column;
}

.login__header {
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--grayishPurple);
}

.login__header a {
    display: block;
    min-width: 10%;
    width: fit-content;
    height: 100%;
    padding-bottom: 1rem;
    color: var(--lightGray);
    border-bottom: 3px solid var(--lightBlue);
}

.login__header a i {
    margin-right: 0.3rem;
}

.login__form {
    flex-direction: column;
    align-items: center;
}

.login__form__email,
.login__form__password,
.login__form__remember-check,
.login__form__forgot-pw,
.login__form__name {
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    max-width: 650px;
    position: relative;
}

.login__form__email label,
.login__form__password label,
.login__form__name label {
    font-size: 1.2rem;
    color: var(--grayishLight);
}

.login__form__email input,
.login__form__password input,
.login__form__name input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--lightGray);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grayishPurple);
    margin-bottom: 1rem;
}

.login__form__email:hover>label,
.login__form__password:hover>label,
.login__form__name:hover>label {
    color: var(--lightGray);
}

.login__form__email input:focus,
.login__form__password input:focus,
.login__form__name input:focus {
    border-bottom: 1px solid var(--lightGray);
}

.login__form__remember-check {
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 2rem 0;
    color: var(--grayishLight);
}

.login__form__remember-check:hover {
    color: var(--lightGray);
}

.login__form__remember-check label {
    font-size: 1rem;
    margin-left: 1.7rem;
}

/* On mouse-over, add a grey background color */
.login__form__remember-check:hover input[type=checkbox]~.checkmark {
    border: 3px solid var(--lightGray);
}

/* Show the checkmark when checked */
.login__form__remember-check input:checked~.checkmark {
    background-color: var(--lightGray);
    border-color: var(--lightGray);
}

.login__form__forgot-pw {
    align-items: center;
}

.login__form__forgot-pw button {
    margin-bottom: 1rem;
}

.login__form__forgot-pw a {
    color: var(--grayishLight);
}

.login__form__forgot-pw a:hover {
    color: var(--lightGray);
}

/* Error messages */
.invalid-feedback {
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: var(--red);
    color: var(--lightGray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.is-invalid {
    border-bottom: 3px solid var(--red) !important;
}

/* Autofill input fields styles */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--lightGray);
    box-shadow: 0 0 0px 1000px var(--darkBlue) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--darkBlue) inset;
}
